$blue: #2196F3;
$bluedarker: rgb(0, 164, 255);
$bluelight: rgb(199, 229, 241);
$bluebtn: #027ad6;
$white: white;
$whitedark: rgb(255, 255, 255);
$red: #f56563;
$greendark: rgb(0, 47, 52);
$black: black;
$yellowlight: rgb(255, 232, 153);